<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        <label>Username</label>
        <div style="margin-bottom:20px">
            <input type="text" name="user_name">
        </div>
        <label>Password</label>
        <div style="margin-bottom:20px">
            <input type="password" name="password">
        </div>
        <input type="submit" value="Submit">
    </form>

    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
</body>
</html>